.searched-users{
    display: flex;
    margin: 20px;
}
.user-name{
    display: inline;
    font-size: 21px;
    margin-left: 20px;
}
.profile-pic > img{
    border-radius: 50%;
    height: 85px;
    width: 106px;
    border: 1px solid;
}
.profile-pic{
    display:inline
}
.action-button{
    height: 50px;
    width: 120px;
    top: 20px;
    left: 40px;
}