.searched-users{
    display: flex;
    margin: 20px;
}
.user-info{
    display:flex;
    cursor: pointer;
    outline: none;
}
.user-name{
    display: inline-block;
    width: 110px;
    font-size: 21px;
    padding:35px 20px 35px 20px;
}
.profile-pic > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile-pic{
    display:flex;
    border:1px solid rgb(199, 194, 194);
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.action-button{
    height: 50px;
    width: 120px;
    top: 20px;
    left: 40px;
}