<div class="searched-users"> 
  <div class="user-info" [routerLink]="['/home/profile',user.user_id]">
    <div class="profile-pic">
      <img src = "http://localhost:3000/{{user.profile_pic}}" width="200px" height="100px">
    </div>
    <div class="user-name">
      {{user.user_name}}
    </div>
  </div>
  <div>
    <button class="action-button" mat-raised-button color="{{colorValue}}" (click)="followOrUnfollow()" *ngIf="userData.user.user_id!=user.user_id">{{buttonValue}}</button> 
  </div>
</div>  
<hr>