<div id="form-container">
  <span id="site-name"> Cook It</span>
  <hr>
  <div id="regForm" *ngIf="!show">
    <flash-messages></flash-messages>
    <form [formGroup]="regFormData" (ngSubmit)="onReg()" name="reg-form" class="reg-form">

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Name</mat-label>
        <input type="string" name="name" matInput [formControl]="name" [errorStateMatcher]="matcher"
          [value]="name.value" placeholder="Full Name">
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">
          Name should be less than 30 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>User Name</mat-label>
        <input type="string" name="user_name" matInput [formControl]="user_name" [errorStateMatcher]="matcher"
          [value]="user_name.value" placeholder="Full Name">
        <mat-error *ngIf="user_name.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="user_name.hasError('minlength')">
          Username should be at least 3 characters
        </mat-error>
        <mat-error *ngIf="user_name.hasError('maxlength')">
          Username should be less than 30 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput [formControl]="email" [errorStateMatcher]="matcher"
          [value]="email.value" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput [formControl]="password" [errorStateMatcher]="matcher">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Password <strong>should contain atleast 7 characters</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" name="password2" matInput [formControl]="password2" [errorStateMatcher]="matcher">
        <mat-error *ngIf="password2.hasError('required')">
          Password2 is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password2.hasError('passNotMatch')">
          Password does not match
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button class="input-full-width" color="primary"
        [disabled]="!regFormData.valid || !password2.valid">Sign Up</button>
    </form>
    <hr>
    <div>Already have an account?<span class="change-form" (click)="show=!show"> Login</span></div>
  </div>
  <div id="logForm" *ngIf="show">
    <flash-messages></flash-messages>
    <form [formGroup]="logFormData" (ngSubmit)="onLogin()" name="log-form" class="">

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput [formControl]="logEmail" [errorStateMatcher]="matcher"
          [value]="logEmail.value" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="logEmail.hasError('email') && !logEmail.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="logEmail.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-full-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput [formControl]="logPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="logPassword.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="logPassword.hasError('minLength')">
          Password is <strong>too short</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="input-full-width"
        [disabled]="!logFormData.valid">Log In</button>
    </form>
    <hr>
    <div> Don't have an account? <span class="change-form" (click)="show=!show">Sign Up</span></div>
  </div>
</div>