#form-container{
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #8A959E;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#site-name{
    font-size:45px;
    font-family:"Comfortaa",sans-serif;
    color:#FF9400;
}
.input-full-width{
    width:100%;
}
.reg-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
