#message-container{
    height: 88%;
    width: 100%;
}

.sent-message{
    padding: 5px;
    text-align: end;
    float: right;
    width: 50%;
    margin: 2px;
    margin-bottom: 10px;
}

#messages{
    height:67%;
    overflow:auto;
    position: fixed;
}

.sent-message > p{
    width: auto;
    min-width: 100px;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    background: orange;
    color: white;
    word-break: break-all;
    float: right;
}
.received-message{
    padding: 5px;
    float: left;
    width: 50%;
    margin: 2px;
    margin-bottom: 10px;
}

.received-message > p{
    width: auto;
    min-width: 100px;
    float: left;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    background: rgb(151, 148, 148);
    color: white;
    word-break: break-all;
}
mat-form-field{
    width:95%;
}
.mat-form-field-wrapper{
    padding-bottom:0px !important;

}

#send-container{
    width:85%;
    z-index:1;
    position: fixed;
    bottom: 0px;
    padding-left:10px;
    background: white;
    height:12%;
}
#message-send-button{
    border:1px solid;
}

.user-info{
    display:flex;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid grey;
    width: 100%;
}
.user-name{
    display: inline-block;
    width: 108px;
    font-size: 15px;
    padding: 15px 20px 35px 20px;
}
.profile-pic > img{
    height: 100%;
    width: auto;
    margin-left: -6px;
}
.profile-pic{
    margin-left: 10px;
    display: inline-block;
    border: 1px solid;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#user{
    height: 10%;

}

