<div class="post-card" >
  <mat-card>
    <mat-card-header>
    
      <mat-card-title>
        
          <img mat-card-avatar src="http://localhost:3000/{{post.by.profile_pic}}">
        
        {{post.by.user_name}}</mat-card-title>
<button mat-stroked-button color="{{colorValue}}" class="follow-button" (click)="followOrUnfollow(post.by)" *ngIf="userData.user_id!=post.by.user_id">{{followValue}}</button> 

    </mat-card-header>
    <div>
    <img class="post-image" mat-card-image src="http://localhost:3000/{{post.image}}" alt="Photo of a Shiba Inu">
    </div>
    <div class="flex-container">
      <button type="button" mat-icon-button color="accent"(click)="likeOrUnlike()" *ngIf="buttonValue=='Unlike'">
          <mat-icon class="action-button" >favorite</mat-icon>
      </button>
      <button type="button" mat-icon-button color="accent" (click)="likeOrUnlike()" *ngIf="buttonValue=='Like'">
          <mat-icon class="action-button" >favorite_border</mat-icon>
      </button>
      
      <button type="button" mat-icon-button (click)="saveOrUnSave()" *ngIf="saveValue=='UnSave'">
          <mat-icon class="action-button" >bookmark</mat-icon>
      </button>

      <button type="button" mat-icon-button (click)="saveOrUnSave()" *ngIf="saveValue=='Save'">
          <mat-icon class="action-button" >bookmark_border</mat-icon>
      </button>
      
      <span class="post-date">
        {{post.date|date:'MMMM d,y'}}
    </span>
    </div>

   <div style="font-weight: bold;">
     {{likes}} likes
   </div>
   <mat-card-content [routerLink]="['/home',{ outlets: {navnav: ['p',post.post_id] } }]">
     <p id="post-title">{{post.title}}</p>
    {{post.content.ingredients[0]}},{{post.content.ingredients[1]}},{{post.content.ingredients[2]}}
  </mat-card-content>
  
  </mat-card>
  </div>
