.user-name{
    font-weight: normal;
    font-size: 1em;
}

.post-card{
    max-width: 50%;
    margin: 30px 20px;
    
}
.follow-button{
    margin-bottom: 25px; 
    font-size: 15px;
}

.flex-container{
    display:flex;
    flex-flow:row wrap;
    width: 100%;
    margin-left: -10px;
}


.action-button{
    font-size:30px;
    }

.post-date{
    margin-left: auto;
    align-self: flex-end;
}
#post-title{
    font-weight: bold;
    font-size:15px;
}

mat-card-header,.content{
    outline:none;
    cursor: pointer;
}
.post-image{
    cursor: pointer;
    outline: none;
}
#title{
    margin-left: -21px;
}

