<form enctype="multipart/form-data"[formGroup]="postFormData" (ngSubmit)="onPost()">
  Image
  <input id="post_pic" type="file" (change)="getImage()">
  <br>
  Title:
  <input type="text" name="title" [formControl]="title">
  <br>
  Story:
  <textarea name="story" id="" cols="30" rows="10" [formControl]="story">
  </textarea>
  <br>
  Recipe:
  <textarea name="recipe" id="" cols="30" rows="10" [formControl]="recipe"></textarea>
  <br>
  Ingredients
  <textarea name="ingredients" id="" cols="30" rows="10" [formControl]="ingredients"></textarea><br>
  <button type="submit">Post</button>
</form>
<img src="http://localhost:3000/assets/post_uploads/user_b4388b9c-b12e-4a29-8915-cf023de96c89_cf406d96-92e9-4a74-afbb-89dbdc66c0e0.jpeg" />