<form enctype="multipart/form-data"[formGroup]="postFormData" (ngSubmit)="onPost()">
  Image
  <input id="post_pic" type="file" (change)="getImage()">
  <br>
  Title:
  <input type="text" name="title" [formControl]="title">
  <br>
  Story:
  <textarea name="story" id="" cols="30" rows="10" [formControl]="story">
  </textarea>
  <br>
  Recipe:
  <textarea name="recipe" id="" cols="30" rows="10" [formControl]="recipe"></textarea>
  <br>
  Ingredients
  <textarea name="ingredients" id="" cols="30" rows="10" [formControl]="ingredients"></textarea><br>
  <button type="submit">Post</button>
</form>