<div class="post-card" *ngIf="byUser.user_id!=''"[routerLink]="['/home/p',post.post_id]">
<mat-card>
  <mat-card-header>
  
    <mat-card-title>
      
        <img mat-card-avatar src="http://localhost:3000/{{byUser.profile_pic}}">
      
      {{byUser.user_name}}</mat-card-title>
  </mat-card-header>
  <img class="post-image" mat-card-image src="http://localhost:3000/{{post.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p id="post-title">{{post.title}}</p>
    {{post.content.ingredients[0]}},{{post.content.ingredients[1]}},{{post.content.ingredients[2]}}
    
  </mat-card-content>
 <div>
   <b>{{post.likes_by.length}} likes</b>
 </div>
</mat-card>
</div>