<div class="post-card" [routerLink]="['/home',{ outlets: {navnav: ['p',post.post_id] } }]">
<mat-card>
  <mat-card-header>
  
    <mat-card-title>
      
        <img mat-card-avatar src="http://localhost:3000/{{post.by.profile_pic}}">
      
      {{post.by.user_name}}</mat-card-title>
  </mat-card-header>
  <img class="post-image" mat-card-image src="http://localhost:3000/{{post.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p id="post-title">{{post.title}}</p>
    {{post.content.ingredients[0]}},{{post.content.ingredients[1]}},{{post.content.ingredients[2]}}
    
  </mat-card-content>
 <div>
   {{post.likes_by.length}} likes
 </div>
</mat-card>
</div>