.post-card{
    max-width: 350px;
    margin:15px;
    outline: none;
    cursor: pointer;
}
.post-image{
    height: 240px;
    max-width:350px;
}
#post-title{
    font-weight: bold;
    font-size:15px;
}

mat-card-title{
    margin-left: -20px;
}