<div id="profile-container">
  <div class="flex-container">
  <div id="profile-pic">
    <img src="http://localhost:3000/{{user.userProfile[0].profile_pic}}" alt="ssdfsd">
  <p id="user_name">{{user.user_name}}</p>
  <p id="name">{{user.name}}</p>
  </div>

  <div id="posts-count">
    Posts
    <br>
    {{posts.length}}
  </div>

  <div id="follower-count">
    Followers
    <br>
    {{user.followers.length}}
  </div>

  <div id="following-count">
    Following
    <br>
    {{user.following.length}}
  </div>
  </div>
  <button (click)="followOrUnfollow(user)" id="follow-button" mat-raised-button color="{{colorValue}}" *ngIf="!isUsersProfile">
    <div *ngIf="isLoading"  color="white" class="follow-button-text">
        <mat-spinner color="accent" diameter=25></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="follow-button-text">
    {{followValue}}
    </div>
</button> 
  <hr>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Posts">
      <app-infinite-scroll>
        <div class="flex-container">
          <div *ngFor="let post of posts" class="post-pic" [routerLink]="['/home',{ outlets: {navnav: ['p',post.post_id] } }]"> 
            <img src="http://localhost:3000/{{post.image}}" alt="">
          </div>
        </div>
      </app-infinite-scroll>    
    </mat-tab>
    <mat-tab label="Saved" *ngIf="isUsersProfile">
      <app-infinite-scroll>
        <div class="flex-container">
          <div *ngFor="let post of savedPosts" class="post-pic" [routerLink]="['/home',{ outlets: {navnav: ['p',post.post_id] } }]"> 
            <img src="http://localhost:3000/{{post.image}}" alt="">
          </div>
        </div>
      </app-infinite-scroll>
    
    </mat-tab>
  </mat-tab-group>
 </div>