<div class="container">
<div class="top-bar">
  
 <div class="site-name">Cook It</div>
 <div class="search-bar">
 <form (ngSubmit)="search()" method="POST">
<input type="text" [formControl]="searchTerm" name="searchTerm" placeholder="Search Posts or Users">
<button mat-stroked-button type="submit" >
  <mat-icon aria-hidden="false">search</mat-icon>
</button>
</form>
</div>
</div>
<div class="content-container">

<div class="side-nav">
   <div class="navLinks">
     <img src="../../assets/logo/onlyLogo.png" alt="logo">
   </div>
   <hr>
<div> 
  <a [routerLink]="['/home',{ outlets: {navnav: ['homeFeed'] } }]">Home</a>
</div> 

<hr>
   <div>
    <a [routerLink]="[{ outlets: {navnav: ['explore'] } }]">Explore</a>
    <hr>
   </div>
   <div>
    <a matBadge={{notifications}} matBadgeOverlap="false" matBadgeColor="warn" [routerLink]="[{ outlets: {navnav: ['notifications']}}]">Notification</a>
    <hr>
   </div>
   <div>
    <a [routerLink]="[{ outlets:{navnav: ['profile',userData.user.user_id] } }]">Profile</a>
    <hr>
   </div>
   <div>
    <a [routerLink]="[{ outlets: {navnav: ['post'] } }]">Post</a>
    <hr>
   </div>
<button  mat-raised-button color="primary"(click)="logout()">Log Out</button>
  </div>

<div class="main-content">
    <div>
    <router-outlet name="navnav"></router-outlet>
</div>
</div>
</div>
</div>