<div class="container">
  <div class="top-bar">
    <div class="site-name">Cook It</div>
    <div class="search-bar">
      <form (ngSubmit)="search()" method="POST">
        <input type="text" [formControl]="searchTerm" name="searchTerm" placeholder="Search Posts or Users">
        <button mat-stroked-button type="submit" >
          <mat-icon aria-hidden="false">search</mat-icon>
        </button>
      </form>
    </div>
    </div>
  <div class="content-container">

    <div class="side-nav">
      <div class="navLinks">
        <img src="../../assets/logo/onlyLogo.png" alt="logo">
      </div> 

      <div class="page-links" > 
        <a [routerLink]="['/home',{ outlets: {navnav: ['homeFeed'] } }]" routerLinkActive="active-link">Home</a>
      </div> 

      <div class="page-links">
        <a [routerLink]="[{ outlets: {navnav: ['explore'] } }]" routerLinkActive="active-link">Explore</a>
      </div>

      <div class="page-links" (click)="notifications=0" >
        <a [routerLink]="[{ outlets: {navnav: ['notifications']}}]" routerLinkActive="active-link">
          Notifications
          <span *ngIf="notifications>0"matBadge={{notifications}} matBadgeOverlap="false" matBadgeColor="warn"></span>
        </a>
      </div>

      <div class="page-links" >
        <a [routerLink]="[{ outlets:{navnav: ['profile',userData.user.user_id] } }]" routerLinkActive="active-link">Profile</a>
      </div>

      <div class="page-links">
        <a [routerLink]="[{ outlets: {navnav: ['post'] } }]" routerLinkActive="active-link">Post</a>
      </div>

      <div class="page-links">
        <a [routerLink]="[{ outlets: {navnav: ['messages'] } }]" routerLinkActive="active-link">Messages</a>
      </div>
      <br>
      <button  mat-raised-button color="primary"(click)="logout()">Log Out</button>
      </div>

    <div class="main-content">
        <router-outlet name="navnav"></router-outlet>
    </div>
  </div>
</div>