.side-nav{
    width: 15%;
    border-right:1px solid black;
    height: 100%;
    position: fixed;
    text-align: center;
    overflow: auto;
}
.content-container{
    width: auto;
    height: auto;
}


.container{
    width: auto;
    padding: 0px;
    height: auto;
}

.top-bar{
    left: 15%;
    position: fixed;
    background: white;
    z-index: 4;
    height: 10%;
    min-height: 70px;
    width:85%;
    border-bottom:1px solid grey;
    display:flex;
    justify-content: flex-start;
    padding:15px;
    
}

.navLinks{
padding: 2px;
}
.navLinks > img{
    height: 10rem;
    width: 15rem;
}
.main-content{
    left: 15%;
    position: absolute;
    top: 10.5%;
    width:85%;
}

.site-name{

}
.search-bar{
    margin:0 auto;
}
.search-bar > form >input{
    height: 35px;
    border-radius: 4px;
    width: 250px;
}
