  <mat-tab-group>
    <mat-tab label="Followers activity">
      <app-infinite-scroll>
        <app-user-search *ngFor="let user of users" [user]="user"> </app-user-search>
      </app-infinite-scroll>
    </mat-tab>

    <mat-tab label="Posts Activity" >
      <app-infinite-scroll *ngFor="let user of post_notif_users;let i = index">
        <div class="searched-users"> 
          <div class="user-info" [routerLink]="['/home/profile',user.user.user_id]">
            <div class="profile-pic">
              <img src = "http://localhost:3000/{{user.user.profile_pic}}">
            </div>
            <div class="user-name">
              <b>{{user.user.user_name}}</b> liked your post
            </div>
          </div>
          <div class="post-pic" [routerLink]="['/home/p',user.post.post_id]">
            <img src = "http://localhost:3000/{{user.post.image}}">
          </div>
        </div>  
        <hr>
      </app-infinite-scroll>
    </mat-tab>
</mat-tab-group>
